
body {
  font-family: sans-serif;
  margin: 20px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  padding: 1em;
  background: white;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.detail {
  margin-top: 20px;
}
#back-button {
  cursor: pointer;
  color: blue;
  margin-bottom: 10px;
}
